body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(130deg, rgba(2, 0, 36, 1) 0%, rgb(21, 21, 63) 35%);
}


.square_box {
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 45px;
    opacity: 0.302;
}

.square_box.box_three {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: -80px;
    top: -60px;
    width: 500px;
    height: 500px;
    border-radius: 45px;
}

.square_box.box_four {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: 150px;
    top: -25px;
    width: 550px;
    height: 550px;
    border-radius: 45px;
}


.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    z-index: 100000;
}

h1 {

    font-family: "Sofia", sans-serif;
    text-align: center;
    color: #333;
}

.todo-form {
    display: flex;
    align-items: center;
    justify-content: center;

}

.form {
    display: flex;
    gap: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 50px;
    width: 400px;
}

.task-add-input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    font-family: "Sofia", sans-serif;
}

.task-add-input:focus {
    outline: none;
}

button {
    font-family: "Sofia", sans-serif;
}

.add-button {
    padding: 10px 20px;
    background-color: #fa8e01;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #ffa600;
}

.todo-list {
    margin-top: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
   
}


ul {
    list-style-type: none;
    padding: 0 10px;
    counter-reset: list-counter;
    height: 300px;
    overflow: auto;
}

ul .todo-list-item {
    counter-increment: list-counter;
}

ul .todo-list-item::before {
    content: counter(list-counter) ". ";
    font-weight: bold;
}

.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

ul .todo-list-item:not(:last-child) {
    padding-bottom: 12px;
    border-bottom: 1px solid #dedede;
}


.todo-list-item-name {
    flex: 1;
    font-size: 16px;
    font-weight: 600;
}

.task-list-input{
    display: none;
    flex: 1;
    padding: 10px;
    font-size: 14 px;
    border: 1px solid #dedede;
    border-radius: 5px;
}
.task-list-input:focus {
    outline: none;
    box-shadow: none;
}

.edit-button, .remove-button, .save-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: #00aeff;
    color: white;
}

.edit-button:hover {
    background-color: #18a9fd;
}

.save-button{
    display: none;
    color: white;
    background-color: #228539;
}

.remove-button {
    background-color: #dc3545;
    color: white;
}

.remove-button:hover {
    background-color: #c82333;
}


/* Basic styles for the alert box */
.alert-box {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    opacity: 1;
    transition: opacity 10s ease;
  }
  
  /* Success alert box */
  .alert-success {
    background-color: #64ff0a7e;
    color: #00fc3b;
    border-color: #c3e6cb;
  }
  
  
  /* Error alert box */
  .alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
  }
  
  
  /* Animation for closing */
  .alert-box.fade-out {
    opacity: 0;
  }
  

  /* Fade-out animation */
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }